<!DOCTYPE html>
<html>
<head>
	<title>Add Book-Page</title>
</head>
<body>
	<a href="/books"> Home </a>
	<a href="/logout"> logout </a><br>
	{% if messages %}
		{% for message in messages %}
			{{message}}
		{% endfor %}
	{% endif %}
	<h1>Add a New Book Title and Review:</h1>
	<form action="/books/add/process" method ="post">
		{% csrf_token %}
		<label for="title">Book Title <input type="text" name ="title"></label><br>
		<p>Author:</p>
		<label for="author"> Choose from the list:
			<select name="author">
				<option value="book.author">book.author</option>
			</select>
		</label><br>
		<label for="author"> Or add a new author:
			<input type="text" name="author">
		</label><br>
		<label for="review"> Review:
			<textarea name="review"></textarea>
		</label><br>
		<label for="rating"> Rating:
			<select name="rating">
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</label><br>
		<input type="submit" value="Add book and review">
	</form>
</body>
</html>