<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login/Registration</title>
</head>
<body>
	<!--!!!!!!!!!!!!!!!!!!!!! this is where messags get sent, same with flask !!!!!!!!!!!!!!!!!!!!!-->
	{% if messages %}
		{% for message in messages %}
			<p>{{message}}</p>
		{% endfor %}
	{% endif %}
	<!--!!!!!!!!!!!!!!!!!!!!! this is where messags get sent, same with flask !!!!!!!!!!!!!!!!!!!!!-->
	<div id = "r_wrapper">
		<h1>Registration</h1>
		<form action="/register" method="post">
			{% csrf_token %}
			<label for="first_name">First Name: <input type ="text" name="first_name"></label><br>
			<label for="last_name">Last Name: <input type ="text" name="last_name"></label><br>
			<label for="email">Email: <input type ="text" name="email"></label><br>
			<label for="pw">Password: <input type ="password" name="pw"></label><br>
			<label for="pw_c">Confirm PW: <input type ="password" name="pw_c"></label><br>		
			<input type="submit" value="Register">	
		</form>	
	</div>
	<div id = "L_wrapper">
		<h1>Login</h1>
		<form action="/login" method="post">
			{% csrf_token %}
			<label for="login_id">Email:<input type="text" name="login_id"></label><br>
			<label for="login_pw">Password:<input type="password" name="login_pw"></label><br>
			<input type="submit" value="Login">
		</form>
	</div>
</body>
</html>