<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Session board</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'session_words/css/session.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div id="input">
		<h1>Add a new word</h1>
		<form action='/session/result' method = 'POST'>
			{% csrf_token %}
			<input type='text' name='newword'><br>
			Choose a color: <br>
			<input type="radio" name ='color' value='blue;'> Blue <br>
			<input type="radio" name ='color' value='red;'> Red <br>
			<input type="radio" name ='color' value='green;'> Green <br>
			<input type="checkbox" name="font" value="30px;"> Show in big fonts!<br>
			<input type="submit" value="Add to session">
		</form>
	</div>
	<div id="show">
		{% for p in property %}
			<div style="color:{{p.color}} font-size:{{p.font}}" id ="textarea">{{p.text}}-</div> 
			<div id = "timearea">{{p.time}}</div> 
		{% endfor %}
	</div>
	<form action="/session/delete" method= "post">
		{% csrf_token %}
		<input type="submit" value ="CLEAR SESSION">
	</form>
</body>
</html>